<form class="login-form">
  <div>
    <label for="userNameLogin">username:</label>
    <input type="text" id="userNameLogin" />
  </div>
  <div>
    <label for="passwordLogin">password:</label>
    <input type="password" id="passwordLogin" />
  </div>
  <div>
    <button type="submit">Log In</button>
  </div>
</form>

<form class="signup-form">
  <div>
    <label for="userNameSignUp">username:</label>
    <input type="text" id="userNameSignUp" />
  </div>
  <div>
    <label for="passwordSignUp">password:</label>
    <input type="password" id="passwordSignUp" />
  </div>
  <div>
    <button type="submit">Sign Up</button>
  </div>
</form>

<script src="/javascript/login.js"></script>